<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "gobatis"
        "https://raw.githubusercontent.com/wenj91/gobatis/master/gobatis.dtd">
<mapper namespace="TtMapper">
  
  <sql id="Base_Column_List">
    id,aid,c,new_column
  </sql>


  <insert id="save">
    insert into tt (id, aid, c, new_column)
    values (#{id},#{aid},#{c},#{new_column})
  </insert>

  <insert id="saveSelective">
    insert into tt
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="Id != nil and Id != ''">
        id,  
      </if>
      <if test="Aid != nil and Aid != ''">
        aid,  
      </if>
      <if test="C != nil and C != ''">
        c,  
      </if>
      <if test="NewColumn != nil and NewColumn != ''">
        new_column,  
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="Id != nil and Id != ''">
        #{Id},
      </if>
      <if test="Aid != nil and Aid != ''">
        #{Aid},
      </if>
      <if test="C != nil and C != ''">
        #{C},
      </if>
      <if test="NewColumn != nil and NewColumn != ''">
        #{NewColumn},
      </if>
    </trim>
  </insert>


  <update id="update">
    update tt
    set aid = #{Aid},
    c = #{C},
    new_column = #{NewColumn}
    where id = #{Id}
  </update>

  <update id="updateSelective">
    update tt
    <set>
      <if test="Aid != nil and Aid != ''">
        aid = #{Aid},
      </if>
      <if test="C != nil and C != ''">
        c = #{C},
      </if>
      <if test="NewColumn != nil and NewColumn != ''">
        new_column = #{NewColumn},
      </if>
    </set>
    where id = #{Id}
  </update>


  <delete id="delete">
    delete from tt
    where id = #{Id}
  </delete>

  <select id="findOne" resultType="struct">
    select 
      <include refid="Base_Column_List" />
    from tt
    where id = #{Id}
    limit 1
  </select>

</mapper>
